<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1><a href="{{ url_for('index') }}">🛒 Tienda</a></h1>

    <nav>
        {% if usuario %}
            <span>Hola, {{ usuario.username }}</span>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('ver_carrito') }}">🛒 Carrito</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Registro</a>
        {% endif %}

        {% if 'admin' in usuario.roles %}
            <a href="{{ url_for('nuevo_producto') }}">➕ Nuevo producto</a>
        
        {% endif %}
    </nav>
</header>

<main>
    {% block contenido %}{% endblock %}
</main>

<footer>
    <p>© Tienda Flask</p>
</footer>

</body>
</html>
